@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Lato);

@font-face {
    font-family: "Gotham";
    src: url(../../fonts/GothamProBold.ttf); 
 }

*{
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}

$w: #fff;
$header_text_color: #868686;

.test div {

}

header {
	font-family: Lato, Arial, sans-serif;
	font-size: 13.5px;
	text-transform: uppercase;
	
	.navbar {
		min-height: 34px;
		margin-top: 22px;
		margin-bottom: 22px;
	
		.navbar-header {
			margin-left: 10%;
			margin-right: 10%;
		}
	}
	
	.navbar-default, .navbar-collapse {
		background-color: $w;
		border: none;
	}
	
	.navbar-default .navbar-nav>li>a {
   		color: $header_text_color;
		border-radius: 2px;
	
		&:hover { 
			color: $header_text_color;
			border-radius: 2px;
		}
		
		&:focus {
			color: darken($header_text_color, 10%);
		}
	}
	
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, 
	.navbar-default .navbar-nav>.active>a:hover {
		color: $w;
		background-color: #ffbb42;
	}
}

.section_top {
	height: 589px;
	background-color: #709dca;
	
	.section_top__heading {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	h2 {
		font: 900 36px "Gotham";
		color: $w;
		text-transform: uppercase;
		text-align: center;
	}
	
	p {
		font: 300 16px "Open Sans";
		color: $w;
		text-align: center;
	}
	
	.section_top__forms {
			text-align: center;
		}
		.form-group {
			margin: 0 5px;
		}
	
		input {
			height: 46px;
			border-radius: 2px;
			
		}
		
		button {
			height: 46px;
			background-color: #ffbb42;
			color: $w;
			border-radius: 2px;
			border: none;
			margin-left: 5px;
		
		&:hover {
			border-radius: 2px;
			border: none;
		}
	}
}

.section_services {
	background-color: $w;
	
	.section_services__heading {
		padding-top: 20px;
		padding-bottom: 20px;
		
		h2 {
			font: 900 30px "Gotham";
			text-transform: uppercase;
			text-align: center;
			color: #394b50;
		}
		
		p {
			font: 400 16px "Open Sans";
			text-align: center;
		}
	}
}





