*{
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.border_red {
	border: 1px solid red;
	@include box-shadow(0, 0, 10px, rgba(0,0,0,0.5));
}

#main_form .errors {
	color: red;
	font-size: 13px;
	line-height: 15px;
	height: 23px;
	padding-bottom: 10px;
	padding-top: 2px;
}

header {
	font: $font_lato;
	font-size: 13.5px;
	text-transform: uppercase;
	
	.navbar {
		min-height: 34px;
		margin-top: 22px;
		margin-bottom: 22px;
	
		.navbar-header {
			margin-left: 10%;
			margin-right: 10%;
		}
		
		.navbar-collapse {
			padding-right: 0;
		}
		
		.navbar-nav li a {
			padding-top: 10px;
    		padding-bottom: 10px;

		}
	}
	
	.navbar-default, .navbar-collapse {
		background-color: $w;
		border: none;
	}
	
	.navbar-default .navbar-nav>li>a {
   		color: $header_text_color;
		border-radius: 2px;
	
		&:hover { 
			color: darken($header_text_color, 10%);
			border-radius: 2px;
		}
		
		&:focus {
			color: darken($header_text_color, 10%);
		}
	}
	
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, 
	.navbar-default .navbar-nav>.active>a:hover {
		color: $w;
		background-color: $bg_color_yellow;
	}
}


@media (max-width: 1060px) {
	header {
		
		.navbar .navbar-header {
			margin-right: 5%;
			margin-left: 5%;
		}
	}
}

@media (max-width: 940px) {
	
	header {
		.navbar {

			.navbar-nav li a {
				padding-left: 7px;
				padding-right: 7px;
			}
		}
	}
}

@media (max-width: 820px) {
	
	header {
		.navbar {
			
			.navbar-header {
			margin-right: 30px;
			margin-left: 30px;
			}
			
			.navbar-nav li a {
				padding-left: 5px;
				padding-right: 5px;
			}
		}
	}
}

@media (max-width: 768px) {
	header {
		.navbar {
			
			.navbar-nav {
				margin-right: 0;
				text-align: center;
			}
		}
	}
}

.section_top {
//	min-height: 400px;
	background-color: $bg_color_blue;
	
	.section_top__heading {
		@include heading_paddings;
	}
	
	@include section_heading;
	
	h2, p {
		color: $w;
	}
	
	.section_top__forms {
			text-align: center;
		}
		.form-group {
			margin: 0 5px;
		}
	
		input {
			height: 46px;
			border-radius: 2px;
			margin-top: 15px;
			
		}
		
		button {
			@include button_mixin;
			margin-left: 5px;
			margin-top: 15px;
		
		&:hover {
			border-radius: 2px;
			border: none;
		}
	}
	
	.section_top__content {
		
		#topCarousel {
			padding-top: 25px;
			padding-bottom: 50px;
			
			.item {
				img {
					margin: 0 auto;
				}
			}
			
			.carousel-control.left, .carousel-control.right {
				background-image: none;
			}
			
			.carousel-indicators {
				bottom: 3px;
			}
			
			.carousel-inner img {
				height: 350px;
			}
		}
		
	}
}

@media (max-width: 768px) {
	.section_top {
		.section_top__forms button {
			margin-bottom: 15px;
		}
	}
}

.section_services {
	background-color: $w;
	
	.section_services__heading {
		@include heading_paddings;
		
	@include section_heading;
	
		h2, p {
			color: $grey;
		}
	}
			
	
	.content {
		
		h3 {
			@include h3_text_mixin;
			color: $grey;
			margin-top: 0;
		}
		
		p {
			font: $font_open_sans_p;
		}
		
		.row div {
			margin-bottom: 15px;
		}
	}
	
	.img-responsive {
		text-align: right;
	}
}

.section_about {
	background-color: $bg_color_about_section;
	border-top: 2px solid $bg_color_blue;
	border-bottom: 2px solid $bg_color_blue;
	
	.section_about__left_side {
		padding: 0;
	}
	
	.section_about__right_side {
		padding-left: 25px;
		
		.section_about__text {
			padding-top: 30px;	
			
			h2 {
				@include h2_text_mixin;
				color: $w;
			}

			p {
				font: $font_open_sans_p;
				color: $w;
				margin-bottom: 20px;
			}
			button {
				@include button_mixin;
			}
		}
	}
}

@media (max-width: 900px) and (min-width: 768px) {
	.section_about { 
		.section_about__right_side {
			.section_about__text {
				padding-top: 0;
				p {
					margin-bottom: 10px;
					font-size: 12px;
				}
				h2 {
					font-size: 25px;
				}
				button {
					height: 33px;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.section_about {
		.section_about__right_side button {
			margin-bottom: 25px;
		}
	}
}

.section_tariffs {
	background-color: #e7edf3;
	
	.section_tariffs__heading {
		@include heading_paddings;
		
	@include section_heading;
		
		h3, p {	
			color: $grey;
		}
	}
	
	.section_tariffs__tariff_plan {
		background-color: $w;
		border: 1px solid #cec6c6;
		text-align: center;
		margin-bottom: 30px;
		
		&:nth-child(2) {
			border-left: none;
			border-right: none;
		}
		
		&:hover {
			background: $bg_color_blue;
			cursor: pointer;
			@include box-shadow(0, 0, 10px, rgba(0,0,0,0.5));
			border: 1px solid transparent;
			
			h3, p {
				color: $w;
			}
		}
		
		.img-responsive {
			margin-top: 25px;
			margin-bottom: 40px;
		}
		
		h3 {
			@include h3_text_mixin;
			font-size: 25px;
			color: #818b95;
		}
		
		button {
			@include button_mixin;
			margin-top: 10px;
			margin-bottom: 25px;
			text-transform: uppercase;
		}	
		
		p {
			font: $font_lato;
			font-size: 13.5px;
			color: #b5bbc1;
			text-transform: uppercase;
			width: 90%;
			border-top: 1px solid #e2e9f0;
			margin: 10px auto;
			padding-top: 10px;
		}
	}
}

@media (max-width: 768px) {
	.section_tariffs {
		.section_tariffs__tariff_plan:nth-child(2) {
			border: 1px solid #cec6c6;
			
			&:hover {
				border: 1px solid transparent;
			}
		}
	}
}

.section_how {
	background: $w;
		
	.section_how__button {
		margin-bottom: 30px;
		
		button {
			@include button_mixin;
		}
	}
	
	.section_how__heading {
		@include heading_paddings;
		@include section_heading;
	
		h2, p {
			color: $grey;
		}
	}
	
	.section_how__row {
		width: 90%;
		margin: 0 auto;
		
		.section_how__step {
			
			p {
				padding: 25px 15px;
			}
		}
	}
}

.section_clients {
	background: $bg_color_yellow;
	
	.section_clients__heading {
		@include heading_paddings;
		@include section_heading;
		color: $w;
	}
	
	.section_clients__content {
		.section_clients__content_line {
			padding-bottom: 25px;
			
			.left, .right {
				width: 40%;
				padding-top: 30px;
				background: $w;
				min-height: 240px;
				border-radius: 2px;
				
				h4 {
					margin-top: 30px;
					font: $font_lato;
					font-size: 13px;
					line-height: 18px;
					min-height: 36px;
					text-transform: uppercase;
					
					span {
						color: $bg_color_yellow;
					}
				}
				
				p {
					font: $font_open_sans_p;
					font-size: 14px;
					max-height: 135px;
					overflow: hidden;
					span {
						font-size: 23px;
						font-weight: 900;
						font-style: italic;
						color: #7b7b7b;
					}
				}
			}
			
			.left {
				margin-left: 7%;
			}
			
			.right {
				margin-right: 7%;
			}
		}
		
		.img-responsive {
			margin: 0 auto;
			padding-bottom: 10px;
		}
	}
}

@media (max-width: 768px) {
	.section_clients {
		.section_clients__content {
			.section_clients__content_line {
				padding-bottom: 0;
				.left, .right {
					float: none!important;
					width: 90%;
					margin: 0 auto;
					margin-bottom: 25px;
				}
			}
		}
	}
}

.section_address {
	background-color: $w;
	
	.section_address__heading {
		@include heading_paddings;
		
	@include section_heading;
		
		h2, p {	
			color: $grey;
		}
	padding-bottom: 5px;
	}
	
	#map {
		height: 300px;
		width: 80%;
		margin: 0 auto;
		border-radius: 3px;
		border: 1px solid #b2b5b7;
		@include box-shadow(0, 0, 10px, rgba(0,0,0,0.5));
		margin-bottom: 35px;
		
	}
}

footer {
	text-align: center;
	
	.navigation {
		background: $w;
		
		a {
			font: $font_lato;
			color: $grey;
			text-transform: uppercase;
			&:hover {
				text-decoration: none;
				color: darken($grey, 10%);
			}
		}
		
		p {
			font: $font_lato;
			font-size: 23px / 24px;
		}
	}
	
	.copyright {
		background: $bg_color_blue;
		
		p {
			font: $font_open_sans_p;
			color: $w;
			margin-bottom: 0;
			line-height: 45px;
			
			span {
				font-style: italic;
			}
		}
	}
	
	.scrollToTop {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		text-align: center; 
		background: whiteSmoke;
		font-weight: bold;
		color: $bg_color_blue;
		text-decoration: none;
		position: fixed;
		bottom: 47px;
		right: 20px;
		display: none;
		
		&:hover {
			text-decoration: none;
		}
		
		span {
			vertical-align: bottom;
		}
	}
}

.slideanim {
	visibility:hidden;
}

.slide_content {
    animation-name: slide;
    -webkit-animation-name: slide; 
    animation-duration: 1.5s; 
    -webkit-animation-duration: 1.5s;
    visibility: visible; 
}

@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    } 
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}