$w: #fff;
$grey: #394b50;
$header_text_color: #868686;
$bg_color_blue: #709dca;
$bg_color_yellow: #ffbb42;
$bg_color_about_section: #ffc155;
$font_open_sans_p: 400 13px / 22px "Open Sans";
$font_lato: 400 13px Lato;